*.o
*.log
*.pdb
*.ncb
*.ilk
*.sdf
*.user
*.suo
*.opensdf
src/code/mkd/ipch/
src/code/mkd/Hybrid/*
src/code/mkd/Debug/*
src/code/mkd/Release/*
src/code/mkd/AJ/*
src/deps/vjson/Debug/*
src/deps/vjson/Release/*
src/deps/vjson/Release_ForHybrid/*

build/data/DONOTUPLOAD/
build/ogre.cfg
build/bin/mkdemo_d.exe
tools/maze_gen/*.bullet
tools/maze_gen/*.mtl
tools/maze_gen/*.xml
tools/maze_gen/*.mesh
tools/collision_mesh_gen/Debug/*
tools/prefab_compiler/Debug/*
tools/prefab_compiler/Release/*
build/player.txt
build/pos.txt