<div class="container"><div class="row"><div class="col-lg-11"><div class="panel panel-default"><div class="panel-body">

<div class="page-header"><h1>Maps description</h1></div>



<p><h2 id="1">Arena_a</h2></p>

<p>This map is designed for Boss Fight game mode in which actor controlled by user fights against stronger enemy known commonly as boss. Level project is similar to widely known Summoner's Rift map from League of Legends. Available surface contains varied areas - from quite open spaces to narrow passages between walls in the "jungle". It is possible to jump on almost all of the obstacles - it may be useful to take advantage of attacking from above or moving across the map not only at ground level.</p>

<p>Many different game objects are present in this level. Thanks to that arena_a is simply large research area for tests of effective environment usage in combat. Actors can utilize game objects to their advantage, but they also have to remain alert because this gameplay aspect is double-edged sword and it can be used against them.</p>

<p><b>Map statistics:</b></p>
<p>
- dimensions - 80x80 meters<br>
- polycount - 5164 faces<br>
- 0.5-meter obstacles - 36 boxes<br>
- 1-meter obstacles - 212 boxes<br>
- 2-meter obstacles - 159 boxes<br>
- 8-meter obstacles - 0 boxes
</p>

<p><div class="col-sm-6 col-md-6 col-lg-6 col-ms-l"><a href="images/maps/arena_a-overview.png"><img class="img-thumbnail" src="images/maps/thumb/arena_a-overview.jpg"></a></div>
<div class="col-sm-6 col-md-6 col-lg-6 col-ms-r"><a href="images/maps/arena_a-mapview.png"><img class="img-thumbnail" src="images/maps/thumb/arena_a-mapview.jpg"></a></div></p>
<p>&#160;</p>



<p><h2 id="2">Arena_b</h2></p>

<p>Arena_b is typical duel arena for Boss Fight game mode. It is a large open space which can be useful in distance fight researches. At ground level there are almost none of environment game objects to make sure contest between actors is just about pure combat skills.</p>

<p>Additional aspect of gameplay are upper overpasses. It is possible to get there by using narrow staircase at one of the pillars. This optional part of the map can give actor height advantage or power up his statistics (thanks to some game objects), but be cautious - many situated traps will not make this task easy. Side hall (behind the huge bar gate) may also be used as smaller duel arena of different scheme.</p>

<p><b>Map statistics:</b></p>
<p>
- dimensions - radius=32 meters (main area) and 32x32 meters (upper area)<br>
- polycount - 5744 faces<br>
- 0.5-meter obstacles - 232 boxes<br>
- 1-meter obstacles - 24 boxes<br>
- 2-meter obstacles - 166 boxes<br>
- 8-meter obstacles - 0 boxes
</p>

<p><div class="col-sm-6 col-md-6 col-lg-6 col-ms-l"><a href="images/maps/arena_b-overview.png"><img class="img-thumbnail" src="images/maps/thumb/arena_b-overview.jpg"></a></div>
<div class="col-sm-6 col-md-6 col-lg-6 col-ms-r"><a href="images/maps/arena_b-mapview.png"><img class="img-thumbnail" src="images/maps/thumb/arena_b-mapview.jpg"></a></div></p>
<p>&#160;</p>



<p><h2 id="3">Arena_c</h2></p>

<p>Arena_c is also Boss Fight arena, but it has some additional contents. This map presents huge castle tower surrounded by ruins which make some kind of labyrinth. High density of obstructions makes good opportunity for obstacle avoiding researches. At the bottom of the tower there is hidden area which contains... Some secret. Ground level of the map is patrolled by regular enemy actors who are weaker than boss himself, but are present in greater number.</p>

<p>Script of this map simulates task and its successive stages. To accomplish final goal user has to make sequence of actions (acquire key, get in teleport). Then he is transported at the top of the tower where proper Boss Fight takes place. Final arena is small round area without any other objects - only two fearless warriors who battle for glory... And for science!</p>

<p><b>Map statistics:</b></p>
<p>
- dimensions - 96x96 meters (main area) and radius=16 meters (tower area)<br>
- polycount - 15936 faces<br>
- 0.5-meter obstacles - 216 boxes<br>
- 1-meter obstacles - 406 boxes<br>
- 2-meter obstacles - 570 boxes<br>
- 8-meter obstacles - 0 boxes
</p>

<p><div class="col-sm-6 col-md-6 col-lg-6 col-ms-l"><a href="images/maps/arena_c-overview.png"><img class="img-thumbnail" src="images/maps/thumb/arena_c-overview.jpg"></a></div>
<div class="col-sm-6 col-md-6 col-lg-6 col-ms-r"><a href="images/maps/arena_c-mapview.png"><img class="img-thumbnail" src="images/maps/thumb/arena_c-mapview.jpg"></a></div></p>
<p>&#160;</p>



<p><h2 id="4">2nomansland</h2></p>

<p>2nomansland map is designed for Capture The Flag game mode in which two teams fight for enemy flag. Many small obstacles in different arrangements are placed on level surface. Middle of the map is its point of inversion, thanks to which both squads compete on equal terms.</p>

<p>Such map scheme provides many opportunities for researches. Close placement of obstacles may test if actors can avoid and maneuver between them. Large open areas allow using various game strategies for example flanking the enemy from the side. Obstacles can also be used by actors as partial or full covers.</p>

<p><b>Map statistics:</b></p>
<p>
- dimensions - 96x96 meters<br>
- polycount - 10312 faces<br>
- 0.5-meter obstacles - 474 boxes<br>
- 1-meter obstacles - 144 boxes<br>
- 2-meter obstacles - 156 boxes<br>
- 8-meter obstacles - 0 boxes
</p>

<p><div class="col-sm-6 col-md-6 col-lg-6 col-ms-l"><a href="images/maps/2nomansland-overview.png"><img class="img-thumbnail" src="images/maps/thumb/2nomansland-overview.jpg"></a></div>
<div class="col-sm-6 col-md-6 col-lg-6 col-ms-r"><a href="images/maps/2nomansland-mapview.png"><img class="img-thumbnail" src="images/maps/thumb/2nomansland-mapview.jpg"></a></div></p>
<p>&#160;</p>



<p><h2 id="5">Dust2</h2></p>

<p>This map is modeled after original dust2 map contained in Counter-Strike game series. In this case it is used for asymmetric CTF contest between two teams. Level scheme consists of small open areas connected by different passages. Not many obstacles are placed on the surface available for actors.</p>

<p>Many possible routes between both bases provide wide variety of gameplay strategies. Such level design tests if actors can work as a team and promotes quality over quantity of their actions. Relatively complicated path scheme may be useful for pathfinding researches.</p>

<p><b>Map statistics:</b></p>
<p>
- dimensions - 96x96 meters<br>
- polycount - 7660 faces<br>
- 0.5-meter obstacles - 267 boxes<br>
- 1-meter obstacles - 136 boxes<br>
- 2-meter obstacles - 94 boxes<br>
- 8-meter obstacles - 56 boxes
</p>

<p><div class="col-sm-6 col-md-6 col-lg-6 col-ms-l"><a href="images/maps/dust2-overview.png"><img class="img-thumbnail" src="images/maps/thumb/dust2-overview.jpg"></a></div>
<div class="col-sm-6 col-md-6 col-lg-6 col-ms-r"><a href="images/maps/dust2-mapview.png"><img class="img-thumbnail" src="images/maps/thumb/dust2-mapview.jpg"></a></div></p>



</div></div></div></div>



<div class="col-xs-6 col-sm-3 sidebar-offcanvas sidebar-nav" id="sidebar" role="navigation"><div class="list-group"><a href="#/maps/#1" class="list-group-item">Arena_a</a> <a href="#/maps/#2" class="list-group-item">Arena_b</a> <a href="#/maps/#3" class="list-group-item">Arena_c</a> <a href="#/maps/#4" class="list-group-item">2nomansland</a> <a href="#/maps/#5" class="list-group-item">Dust2</a></div></div></div>