<h2>AI examples</h2>
<center><p>A small video featuring work of Artur Janik - HTN AI</p><iframe width="560" height="315" src="http://www.youtube.com/embed/i36D8l-fok4" frameborder="0" allowfullscreen></iframe></center>
<center><p>Boss prototype - v3.0</p><iframe width="560" height="315" src="http://www.youtube.com/embed/GIPFskIjG-w" frameborder="0" allowfullscreen></iframe></center>
<h2>The maps of FRAIL: a quick overview</h2>
<center><iframe width="560" height="315" src="//www.youtube.com/embed/z7L5dQ7VIRo" frameborder="0" allowfullscreen></iframe></center>
<center><iframe width="560" height="315" src="//www.youtube.com/embed/-yxf9H4BZEg" frameborder="0" allowfullscreen></iframe></center>
<center><iframe width="560" height="315" src="//www.youtube.com/embed/aGTB6iRwipk" frameborder="0" allowfullscreen></iframe></center>
