@media (min-width:768px){
	.container{
		max-width:745px
	}

}

@media screen and (min-width:768px){
	.footer,.header,.marketing{
		padding-left:0;
		padding-right:0
	}

	.header{
		margin-bottom:30px
	}

	.jumbotron{
		border-bottom:0
	}

}

.page-header{
	margin-top:0
}

.panel-body{
	padding-top:0
}

.featuredImg{
	margin-bottom:15px
}

.sidebar-nav{
	position:fixed;
	top:70px;
	right:20px
}

.footer-logo{
	padding-top:10px
}

body{
	padding-top:0;
	padding-bottom:20px
}

.footer,.header,.marketing{
	padding-left:15px;
	padding-right:15px
}

.header{
	border-bottom:1px solid #e5e5e5
}

.header h3{
	margin-top:0;
	margin-bottom:0;
	line-height:40px;
	padding-bottom:19px
}

.footer{
	padding-top:19px;
	color:#777;
	border-top:1px solid #e5e5e5
}

@media (min-width:768px){
	.container{
		max-width:745px
	}

}

.container-narrow>hr{
	margin:30px 0
}

.jumbotron{
	background-color:#323232;
	text-align:center
}

.jumbotron .btn{
	font-size:21px;
	padding:14px 24px
}

.marketing{
	margin:40px 0
}

.marketing p+h4{
	margin-top:28px
}

@media screen and (min-width:768px){
	.footer,.header,.marketing{
		padding-left:0;
		padding-right:0
	}

	.header{
		margin-bottom:30px
	}

	.jumbotron{
		border-bottom:0
	}

}
